.item {
    outline: 1px solid black;
}

:root {
    --dash-blue: #0b9dff;
}

* {
    box-sizing: border-box;
}

html {
    font-family:'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template: 1fr 3fr / 1fr 4fr;
}

.icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(116deg) brightness(104%) contrast(104%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* SIDEBAR */

#sidebar {
    background-color: var(--dash-blue);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    display: grid;
    grid-template-rows: 80px 1fr;
}

#sidebar, #sidebar a {
    color: #fff;
    text-decoration: none;
}

#logo-container {
    max-width: 300px;
    width: 100%;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    padding-left: 18px;
}

#logo-icon {
    background-image: url("./res/icons/view-dashboard.svg");
    width: 40px;
    height: 40px;
    margin-right: 6px;
}

#logo-title {
    font-size: 2.2rem;
}

nav {
    width: 100%;
    max-width: 300px;
    justify-self: flex-end;
}

.nav-block {
    padding: 16px 0;
    margin-left: 18px;
}

.nav-block li {
    padding: 10px 0;
}

/* HEADER */

#header {
    background-color: #fff;
    display: grid;
    grid-template: 1fr 1fr / 4fr 3fr;
}

/* MAIN */

#main {
    background-color: blue;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#projects-container,
#announcements-container,
#trending-container {
    display: grid;
    grid-template-rows: 50px 1fr;
    padding: 14px;
    padding-top: 24px;
}

#main-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

#trending {
    display: grid;
}

