.item {
    outline: 1px solid black;
}

:root {
    --dash-blue: #0b9dff;
}

* {
    box-sizing: border-box;
}

html {
    font-family:'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template: 1fr 3fr / 1fr 4fr;
}

.icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(116deg) brightness(104%) contrast(104%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.profile-icon {
    background-color: rgb(163, 163, 18);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* SIDEBAR */

#sidebar {
    background-color: var(--dash-blue);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    display: grid;
    grid-template-rows: 80px 1fr;
}

#sidebar, #sidebar a {
    color: #fff;
    text-decoration: none;
}

#logo-container {
    max-width: 300px;
    width: 100%;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    padding-left: 18px;
}

#logo-icon {
    background-image: url("./res/icons/view-dashboard.svg");
    width: 40px;
    height: 40px;
    margin-right: 6px;
}

#logo-title {
    font-size: 2.2rem;
}

nav {
    width: 100%;
    max-width: 300px;
    justify-self: flex-end;
}

.nav-block {
    padding: 16px 0;
    margin-left: 18px;
}

.nav-block li {
    display: flex;
    align-items: center;
    height: 36px;
}

.nav-block li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-block li:hover {
    background-color: #088de6;
}

#sidebar .nav-block li a:hover {
    text-decoration: underline;
}

.nav-icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

/* HEADER */

#header {
    background-color: #fff;
    display: grid;
    grid-template: 1fr 1fr / 4fr 3fr;
    max-width: 1200px;
}

.header-block,
.header-block ul {
    display: flex;
    align-items: center;
}

.header-block:nth-child(2) {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.header-block {
    padding: 0 34px;
}

.header-block input {
    width: 100%;
    padding: 6px 12px;
    border: none;
    outline: none;
    background-color: #d4dde4;
    border-radius: 10px;
}

.searchbar-icon {
    background-image: url('./res/icons/magnify.svg');
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.bell-icon {
    background-image: url('./res/icons/bell-ring-outline.svg');
    height: 20px;
    width: 20px;
    margin-right: 10px;
    justify-self: flex-end;
    cursor: pointer;
}

#header .profile-icon {
    width: 50px;
    height: 50px;
    justify-self: center;
}

#header .profile-name {
    font-weight: bold;
}

/* MAIN */

#main {
    background-color: blue;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#projects-container,
#announcements-container,
#trending-container {
    display: grid;
    grid-template-rows: 50px 1fr;
    padding: 14px;
    padding-top: 24px;
}

#main-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

#trending {
    display: grid;
}

