.item {
    outline: 1px solid black;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template: 1fr 3fr / 1fr 4fr;
}

/* SIDEBAR */

#sidebar {
    background-color: red;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    display: grid;
    grid-template-rows: 80px 1fr;
}

#logo-container, .nav-block {
    margin-left: 18px;
}

nav {
    width: 100%;
    max-width: 300px;
    background-color: pink;
    justify-self: flex-end;
}

.nav-block {
    padding: 16px 0;
}

.nav-block li {
    padding: 10px 0;
}

/* HEADER */

#header {
    background-color: #fff;
    display: grid;
    grid-template: 1fr 1fr / 4fr 3fr;
}

/* MAIN */

#main {
    background-color: blue;
}
